/* NEW STYLES HW6 */

/* CARDS */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-bottom: #333;
}

.card-text {
    flex-grow: 1;
    color: rgb(139, 139, 139);
}

.card .btn {
    margin-top: auto;
}

.card-img-top {
    height: 200px;  /* Adjust this value as needed */
    object-fit: contain;  /* Ensures full image is visible while maintaining aspect ratio */
    width: 100%; /* Makes sure it spans the card width */
    padding: 10px; /* Adds spacing to prevent cropping */
}


/* CONTAINERS */

.card-container {
    padding-bottom: 60px;
}