
{% extends "layout.html" %}

{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Columbia Paper Infinity - Home</title>

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

</head> -->
<body class="welcome">
    <div class="container welcome">
        <h1 class="welcome">Welcome to Columbia Paper Infinity!</h1>
        <p class="welcome">Remember to log all your sales on this site, even ones you make on the phone.</p>
        <a href="{{ url_for('infinity') }}" class="button welcome">Log Your Sales</a>
    </div>
</body>
</html>

{% endblock %}