{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>
    
<script>
    let clients = {{ clients | tojson }};
    let sales = {{sales|tojson}}
    // console.log(data)
</script>
    
<head>

    <title>Columbia Paper Infinity</title>

  </head>
    <body>
        <div class="container">
            <div class="row blue">
                <div class="col-12 head">
                    Columbia Paper Infinity
                </div>
                <div class="col-12" style="padding: 15px;">
                    <div id="trash" class="trash">
                        Trash
                    </div>
                </div>
            </div>
            <div class="row" style="padding: 10px">
                <div class="col-3">
                    Log your paper sales:
                </div>
                <div class="col-4">
                    <input id="client-input" class="textbox" placeholder="Client"/>
                </div>
                <div class="col-3">
                    <input id="ream-input" class="textbox" placeholder="# Reams"/>
                </div>
                <div class="col-2">
                    <button id="submit-btn" class="btn btn-primary">Submit</button>
                </div>
            </div>

            <div class="sale-log">
                <div id="sales-records"></div>
            </div>
        </div>


    
    </body>


{% endblock %}